
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}
/* h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
} */
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}
body{
  background-color: #F1F1F1;
  
}

.about{
  width: 70%;
  background-color: #E2DCC8;
  margin-left: 1rem;
  margin-top: -29rem;
  padding:5%;
  opacity: 0.7;
}
.about-p1{
  font-size: 1.5rem;
  font-weight: 500;
}
.about-para{
  margin-top: 2rem;
}
.skills{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color:  #E2DCC8;
  height:25rem;
  opacity: 0.8;
  margin-top: -25rem;
  width:60%;
  margin-left: 27rem;
  padding:3%;
  animation-name: example;
  animation-duration: 4s;
}
.skills-s1{
  margin-left: 2rem;
  
}
.skill-photo{
  width:30%;
  margin-left:2rem;
  margin-top:18rem;
  
}
/* .skills p{
  margin-left: 2rem;
} */
.skill-enclose{
  background-color: black;
  background-image: url(skills.webp);
  height: 25rem;
}
.photo{
  width:50%;
  background-color: antiquewhite;
  right:-2.1rem;
  position: absolute;
  top: 7.8rem;
  
}
.photo-p1{
  font-size: 1.5rem;
  font-weight: 500;
  right:3.125rem;
  position: absolute;
  top:5.5rem;
}

.skill-p{
  margin-top:3rem;
}
.contact-c1{
  right:0.75rem;
  position: absolute;
  top:16.7rem;
  display: flex;
  flex-direction: column;
}
.fa {
  padding: 1.25rem;
  font-size: 1.8rem;
  width: 3.5rem;
  text-align: center;
  text-decoration: none;
  margin: 0.313rem 0.125rem;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -0.063rem 0 black, 0 0.063rem black, 0.063rem 0 black, 0 -0.063rem black;
}
/* https://www.enjpg.com/img/2020/blue-aesthetic-21.jpg */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .50s ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.photos{
  margin-left: 3rem;
}
.education{
  margin-top: 3rem;
  margin-bottom: 7rem;
}
.education-e1{
  width: 80%;
  background-color: #E2DCC8;
  opacity:0.9;
  padding:3%;
  margin-left:2rem;
  animation-name: example;
  animation-duration: 4s;
}
.edu-enclose{
  background-image: url(edu.webp);
}
.cll{
  width:50%;
  margin-left:38rem;
  margin-top:-19rem;
}
.para-act{
  width:60%;
  margin-left:2rem;
  margin-top:10rem;
  background-color: #E2DCC8;
  padding:3%;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  from {background-color:#E7F6F2;}
  to {background-color:#E2DCC8;}
}
/* @keyframes example1 {
  0%   { left:0px; top:0px;}
  25%  { left:200px; top:0px;}
} */
/* @keyframes example2 {
  from {background-image: url(starry.jpeg);}
  to {background-image:url(starry2.jpeg);}
} */
.upper-half{
  /* background-color: #0F3D3E;*/
  background-image: url("london.jpeg");
  
  width:79.125rem;
  height:75.313rem;
  margin-top:-33rem;
  /* animation-name: example2;
  animation-duration: 8s; */
}
.footer{
  background-color: rgb(210, 210, 210);
  height:30.5rem;
  top:3rem;
  padding:3%;
}
.f1{
  display: flex;
  margin-top: 2rem;
  
}
.f2{
  display: flex;
}
.form form{
  margin-left:34rem;
  margin-top:-5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  
}
.form button{
  padding:15px;
  background:rgb(174, 174, 248);
  font-size:18px;
  border:0;
  outline:none;
  cursor:pointer;
  width:90px;
  margin:20px auto 0;
  border-radius: 30px;
}
.honeclass{
  padding:1.5%;
  margin-top:-1.5rem;
 
}
.submit{
  align-items: centre;
}
 h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-align: center;
}

@media (max-width:700px){
  .navbar navbar-dark bg-dark fixed top{
    width:20rem;
  }
  .upper-half{
    width:30rem;
    height:111rem;
  }
   .photo-p1{
    position: absolute;
    right: 46.125rem;
    border-radius: 2rem;
    width:10rem;
    height:10rem;
  } 
  .about{
    width:23rem;
    height:27rem;
    font-size: 80%;
    overflow:hidden;
    display: block;
    margin-left:3rem;
    margin-top:-30rem;
  }
  .contact-c1 {
    right: 35.75rem;
    position: absolute;
    top: 39.7rem;
    display: flex;
    flex-direction: row;
   }
   .skills{
    margin-top:3rem;
    margin-left:1rem;
    width:26rem;
   }
   .skill-enclose{
    margin-top:3rem;
    width:50rem;
    height:56rem;
   }
   .cll{
    margin-top: -19.5rem;
    width: 25rem;
    margin-left: 1rem;
   }
   .para-act{
    width: 51rem;
    height: 29rem;
    margin-left: 0rem;
   }
   .edu-enclose{
    width:100rem;
    margin-top:6rem;
   }
   .education{
    width:28rem;
   }
   .footer{
    width:28rem;
    height:39rem;
   }
   .form form{
    width: 17rem;
    margin-top: 4rem;
    margin-left: 3rem;
   }
  }
    
@media  (max-width:400px){
  .navbar navbar-dark bg-dark fixed top{
    width:20rem;
  }
  .upper-half{
    width:30rem;
    height:111rem;
  }
   .photo-p1{
    position: absolute;
    right: 12.125rem;
    border-radius: 2rem;
    width:10rem;
    height:10rem;
  } 
  .about{
    width:17rem;
    height:27rem;
    font-size: 80%;
    overflow:hidden;
    display: block;
    margin-left:3rem;
    margin-top:-30rem;
  }
  .contact-c1 {
    right: 35.75rem;
    position: absolute;
    top: 39.7rem;
    display: flex;
    flex-direction: row;
   }
   .skills{
    margin-top:3rem;
    margin-left:1rem;
    width:26rem;
   }
   .skill-enclose{
    margin-top:3rem;
    width:30rem;
    height:56rem;
   }
   .cll{
    margin-top: -19.5rem;
    width: 25rem;
    margin-left: 1rem;
   }
   .para-act{
    width: 30rem;
    height: 29rem;
    margin-left: 0rem;
   }
   .edu-enclose{
    width:30rem;
    margin-top:6rem;
   }
   .education{
    width:30rem;
   }
   .footer{
    width:30rem;
    height:39rem;
   }
   .form form{
    width: 17rem;
    margin-top: 4rem;
    margin-left: 3rem;
   }
  }
   @media  (max-width:900px){
    /* .navbar navbar-dark bg-dark fixed top{
      width:20rem;
    } */
    .upper-half{
      width:30rem;
      height:111rem;
    }
     .photo-p1{
      position: absolute;
      right: 12.125rem;
      border-radius: 2rem;
      width:10rem;
      height:10rem;
    } 
    .about{
      width:23rem;
      height:27rem;
      font-size: 80%;
      overflow:hidden;
      display: block;
      margin-left:3rem;
      margin-top:-30rem;
    }
    .contact-c1 {
      right: 3.75rem;
    position: absolute;
    top: 38.7rem;
    display: flex;
    flex-direction: row;
     }
     .skills{
      margin-top:3rem;
      margin-left:1rem;
      width:26rem;
     }
     .skill-enclose{
      margin-top:3rem;
      width:28rem;
      height:56rem;
     }
     .cll{
      margin-top: -19.5rem;
      width: 25rem;
      margin-left: 1.4rem;
     }
     .para-act{
      width: 28rem;
      height: 29rem;
      margin-left: 0rem;
     }
     .edu-enclose{
      width:28rem;
      margin-top:6rem;
     }
     .education{
      width:28rem;
      margin-left: 1rem;
     }
     .footer{
      width:28rem;
      height:39rem;
     }
     .form form{
      width: 17rem;
      margin-top: 4rem;
      margin-left: 6rem;
     }
     .honeclass{
      padding:2%;
      margin-top: 1rem;
      text-align: center;
     }

  }
